{% extends "apptexro/baseshw.html" %} 
{% load static %} 

{% block title %}
    <title>{{TitleSite}}</title>
{% endblock %} 
{% block container_linkcheck %}
    <section class="nw container__content">
        <p style="font-weight: 800;" class="title__Control__panel global__color"><a style="color: #000;" href="/panl/d-site">Дополнительные страницы</a> » {{TitleSite}}</p>
    </section>
    {% endblock %} 
    {% block container_content %}
    <section class="nw container__content global__color" style="font-family: 'Montserrat'; font-size:16px;">
        <h3>Учебный корпус №1</h3>

        <p>&nbsp;</p>
        
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ae8121a14bb3ec8f5cb1b09c3bbdf717fc69798c2bd6ce35082e05c6b64395f94&amp;width=560&amp;height=428&amp;lang=ru_RU&amp;scroll=true"></script>        
        <p><br />
        <h3 style="font-weight: 600;">Электричка</h3></p>
        
        <p>Станция Савеловский вокзал &nbsp;&rarr; станция Долгопрудный, далее пешком или автобусом №1 до остановки &laquo;Дом культуры Вперед&raquo;</p>
        
        <p><strong style="font-weight: 600;">Автобус 368</strong><br />
        Метро &quot;Ховрино&quot; &nbsp;&rarr; Станция Долгопрудная, далее пешком или автобусом №1 до остановки &laquo;Дом культуры Вперед&raquo; &nbsp;<br />
        <strong style="font-weight: 600;">Автобус 1078</strong><br />
        Левый берег (остановка ул Совхозная) &rarr; Станция Долгопрудная ,далее пешком или автобусом №1 до остановки &laquo;Дом культуры Вперед&raquo; &nbsp;<br />
        <strong style="font-weight: 600;">Автобус № 545</strong><br />
        м .Алтуфьево&rarr; &nbsp;до остановки &laquo;Дом культуры Вперед&raquo; ,далее пешком&nbsp;</p>
        
        <p>&nbsp;</p>
        
        <h3>Маршруты по г. Долгопрудный.</h3>
        
        <p><br />
        <strong style="font-weight: 600;">Автобус &nbsp;№5.</strong><br />
        Микрорайон &laquo;Новые Водники&raquo;(ост Школа №15) &nbsp;&rarr; станция Долгопрудный &nbsp;, далее пешком или автобусом 1 до остановки &laquo;Дом культуры Вперед&raquo; &nbsp; &nbsp;</p>
        
        <p><strong style="font-weight: 600;">Автобус №3&nbsp;</strong><br />
        Посёлок Нефтебазы &nbsp;&rarr; Станция Долгопрудная, далее пешком или автобусом 1 до остановки &laquo;Дом культуры Вперед&raquo; &nbsp;<br />
        <strong style="font-weight: 600;">Автобус №1</strong><br />
        по городу Долгопрудный &rarr; ост. &laquo;Дом культуры Вперед&raquo;,далее пешком &nbsp;</p>
        
        <p>&nbsp;</p>
        
        <h3>Из г. Лобня</h3>
        
        <p>&nbsp;</p>
        
        <p><strong style="font-weight: 600;">Электричка</strong></p>
        
        <p>станция Лобня &rarr;станция Долгопрудный)далее пешком или автобусом 1 до остановки &laquo;Дом культуры Вперед&raquo; &nbsp;<br />
        <strong style="font-weight: 600;">Автобус №38</strong><br />
        станция Лобня &rarr;Станция Долгопрудная, далее пешком или автобусом 1 до остановки &laquo;Дом культуры Вперед&raquo; &nbsp;</p>
        
        <p>&nbsp;</p>
        
        <h3>Учебный корпус №2</h3>
        
        <p>&nbsp;</p>
        
        <div style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/214/dolgoprudniy/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Долгопрудный</a><a href="https://yandex.ru/maps/214/dolgoprudniy/house/shkolnaya_ulitsa_4/Z04Ycg9mS0MBQFtvfXV1eX9iZQ==/?from=mapframe&ll=37.485675%2C55.948400&source=mapframe&utm_medium=mapframe&utm_source=maps&z=17.93" style="color:#eee;font-size:12px;position:absolute;top:14px;">Школьная улица, 4 — Яндекс Карты</a><iframe src="https://yandex.ru/map-widget/v1/-/CCUByVxupC" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>        
        <p>&nbsp;</p>
        <h3>Маршруты из Москвы</h3>
        
        <p><br />
        <strong style="font-weight: 600;">Электричка</strong></p>
        
        <p>станция Савеловский вокзал &nbsp;&rarr;станция Долгопрудный), далее &nbsp;автобусом №1,368,545,1078,456 до остановки &laquo;Улица Заводская&raquo;, далее пешком&nbsp;<br />
        <strong style="font-weight: 600;">Метро &quot;Ховрино&quot;</strong> автобус 368 до ост&laquo;Улица Заводская&raquo; , далее пешком &nbsp;&nbsp;<br />
        <strong style="font-weight: 600;">Автобус 1078</strong><br />
        Левый берег (остановка ул Совхозная) &rarr; до ост&laquo;Улица Заводская&raquo; , далее пешком. &nbsp;&nbsp;<br />
        <strong style="font-weight: 600;">Автобус № 545</strong><br />
        м .Алтуфьево &rarr; до ост&laquo;Улица Заводская&raquo; &nbsp;,далее пешком&nbsp;</p>
        
        <h3>&nbsp;</h3>
        
        <h3>Маршруты по г. Долгопрудный</h3>
        
        <p><br />
        <strong style="font-weight: 600;">Автобус &nbsp;№5</strong><br />
        Микрорайон &laquo;Новые Водники&raquo;(ост Школа №15) &nbsp;- до ост&laquo;Улица Заводская&raquo; &nbsp;,далее пешком &nbsp; &nbsp;<br />
        <strong style="font-weight: 600;">Автобус №3&nbsp;</strong><br />
        Посёлок Нефтебазы &nbsp;&rarr; до ост&laquo;Улица Заводская&raquo; &nbsp;далее пешком . &nbsp;<br />
        <strong style="font-weight: 600;">Автобус №1</strong><br />
        по городу Долгопрудный &rarr; до ост&laquo;Улица Заводская&raquo;. ,далее пешком &nbsp;</p>
        
        <h3>&nbsp;</h3>
        
        <h3>Из г. Лобня</h3>
        
        <p><br />
        <strong style="font-weight: 600;">Электричка</strong></p>
        
        <p>(станция Лобня &rarr;станция Долгопрудный) &nbsp;далее &nbsp;автобусом №1,368,545,1078,456 до остановки &laquo;Улица Заводская&raquo;, далее пешком<br />
        <strong style="font-weight: 600;">Автобус №38</strong><br />
        станция Лобня &rarr; до ост&laquo;Улица Заводская&raquo; &nbsp;,далее пешком&nbsp;</p>
        
        <p>&nbsp;</p>
        
    </section>
{% endblock %} 